<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              inter: ["Inter"],
            },
          },
        },
      };
    </script>
    <title>Daftar</title>
  </head>
  <body class="bg-slate-50 h-full font-inter">
    <div class="container bg-white p-8 text-left rounded-xl max-w-4xl space-y-8 shadow-sm mx-auto my-8">
      <h1 class="font-extrabold text-slate-900 text-3xl">Pendaftaran</h1>

      <form action="/signup" method="post" class="items-stretch space-y-4 mb-6" id="registration-form">
        <div class="grid grid-cols-2 space-x-8">
          <div class="space-y-4">
            <h1 class="font-semibold text-slate-900 text-sm">Data Diri</h1>

            <input required id="email-input" name="email" type="email" placeholder="Email" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400 invalid:text-red-500 invalid:ring-red-500" />
            <input required id="password-input" name="password" type="password" placeholder="Password" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" />
            <input required maxlength="60" name="name" type="text" placeholder="Nama Lengkap" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" />
            <input required id="ktp-input" pattern=".{16}" name="ktp" type="text" placeholder="No. KTP" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400 invalid:text-red-500 invalid:ring-red-500" />
            <input required pattern="^0\d{9,}$" name="phone" type="tel" placeholder="No. Telepon" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400 invalid:text-red-500 invalid:ring-red-500" />
            <input required name="address" type="text" placeholder="Alamat Lengkap" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" />
            <input required name="mother" type="text" placeholder="Nama Ibu Kandung" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" />
            <input required name="job" type="text" placeholder="Pekerjaan" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" />
            <input required id="salary-input-formatted" name="salary_formatted" maxlength="10" type="text" inputmode="numeric" placeholder="Gaji" oninput="formatNumber(this)" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode === 46 || event.charCode === 0" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" />
            <input type="hidden" name="salary" id="salary-input" />
          </div>
          <div class="space-y-4">
            <h1 class="font-semibold text-slate-900 text-sm">Informasi Bank</h1>
            <input required name="bank" type="text" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" placeholder="Bank" />
            <input required name="bank_num" maxlength="16" type="number" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" placeholder="Nomor Rekening" />
            <p class="text-xs text-slate-400">Uang yang anda pinjam akan otomatis kami transfer ke rekening Anda. Pastikan No. Rekening yang Anda isi sudah benar!</p>
            <hr class="py-2" />
            <h1 class="font-semibold text-slate-900 text-sm">Informasi Tambahan</h1>
            <input required pattern="^0\d{9,}$" name="emergency_contact" type="tel" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400 invalid:text-red-500 invalid:ring-red-500" placeholder="No. Kontak Darurat" />
            <input required name="emergency_contact_rel" type="text" class="bg-white outline outline-1 outline-slate-200 rounded-md h-10 p-4 w-full ring-0 focus:ring-2 ring-emerald-500 placeholder:text-slate-400" placeholder="Hubungan Kontak Darurat" />
            <p class="text-xs text-slate-400">Masukkan kontak darurat. Kontak ini akan kami gunakan untuk menghubungi anda jika terjadi masalah.</p>
          </div>
        </div>

        <br />
        <hr class="my-2" />
        <br />

        <div class="grid grid-cols-3 space-x-8">
          <div class="space-y-2">
            <h1 class="font-inter font-semibold text-slate-900 text-sm">Upload KTP</h1>
            <input type="file" class="bg-white outline outline-1 outline-slate-200 rounded-md h-auto px-4 py-3 w-full ring-0 focus:ring-2 focus:ring-orange-500 placeholder:text-slate-400 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-orange-50 file:text-orange-600 hover:file:bg-orange-100" placeholder="NPWP" />
          </div>
          <div class="space-y-2">
            <h1 class="font-inter font-semibold text-slate-900 text-sm">Upload NPWP</h1>
            <input type="file" class="bg-white outline outline-1 outline-slate-200 rounded-md h-auto px-4 py-3 w-full ring-0 focus:ring-2 focus:ring-orange-500 placeholder:text-slate-400 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-orange-50 file:text-orange-600 hover:file:bg-orange-100" placeholder="NPWP" />
          </div>
          <div class="space-y-2">
            <h1 class="font-inter font-semibold text-slate-900 text-sm">Upload Selfie</h1>
            <input type="file" class="bg-white outline outline-1 outline-slate-200 rounded-md h-auto px-4 py-3 w-full ring-0 focus:ring-2 focus:ring-orange-500 placeholder:text-slate-400 file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold file:bg-orange-50 file:text-orange-600 hover:file:bg-orange-100" placeholder="NPWP" />
          </div>
        </div>
        <br />

        <div class="flex justify-between">
          <p class="font-inter text-sm text-slate-400 block my-auto">Sudah punya akun? <a href="/login" class="text-emerald-500 font-semibold hover:text-emerald-600">Masuk</a></p>
          <button class="font-inter bg-emerald-500 text-white font-medium w-auto py-2 px-6 rounded-md hover:bg-emerald-600" id="submit-button">Daftar Sekarang</button>
        </div>
      </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      const form = document.getElementById("registration-form");
      const salaryInput = document.getElementById("salary-input");
      const salaryInputFormatted = document.getElementById("salary-input-formatted");

      function formatNumber(input) {
        const value = input.value.replace(/[.,]/g, "");
        const formattedValue = new Intl.NumberFormat("id-ID").format(value);

        input.value = formattedValue;
      }

      form.addEventListener("submit", async (event) => {
        event.preventDefault();

        let salary = salaryInputFormatted.value;
        salary = salary.replace(/\./g, "");
        salaryInput.value = salary;

        form.submit();
      });

      let emailTimeoutId = null;
      let ktpTimeoutId = null;

      $("#email-input").on("input", function () {
        const email = $(this).val();
        console.log(email);
        clearTimeout(emailTimeoutId);

        emailTimeoutId = setTimeout(async () => {
          try {
            const response = await fetch(`/check-email-exists?email=${email}`);
            const data = await response.json();

            if (data.email_exists) {
              this.setCustomValidity("Email already exists");
            } else {
              this.setCustomValidity("");
            }
          } catch (err) {
            console.log(err.message);
          }
        }, 300);
      });

      $("#ktp-input").on("input", function () {
        const ktp = $(this).val();

        clearTimeout(ktpTimeoutId);

        ktpTimeoutId = setTimeout(async () => {
          try {
            const response = await fetch(`/check-ktp-exists?ktp=${ktp}`);
            const data = await response.json();

            if (data.ktp_exists) {
              this.setCustomValidity("KTP already exists");
            } else {
              this.setCustomValidity("");
            }
          } catch (err) {
            console.log(err.message);
          }
        }, 300);
      });
    </script>
  </body>
</html>
